.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-x:hidden;
}

.text {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 25px;
  margin-block-start: 20px;
  padding-left: 20px;
}

.film_list {
  display: flex;
  width: 98%;
  padding-left: 20px;
  gap: 15px;
  overflow-x: scroll;
}
.film_list::-webkit-scrollbar {
  width: 0;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 250px;
  transition: transform 450ms;
  cursor: auto;
}
.card img {
  width: 150px;
    &:hover {
      transform: scale(1.1);
  }
}